<div class="remove_option">
  <%= f.text_field :option_title, class: "option_title", placeholder: "Option Title" %>
  <%= f.link_to_remove "", class: "glyphicon glyphicon-remove cross_pos_add" %> 
</div>