<div class="row">
	<h2><%= @user.first_name %> Report</h2>
  <table width="100%" style="font-family:'AvrNx';" >
    <% @questions.each_with_index do |ques, ind| %>
      <tr>
        <td><b>Question&nbsp<%= ind+1 %>.&nbsp&nbsp<%= ques.title %></b>
        </td>
      </tr>
      <tr>
        <td>
          <% answers = @answers.where(question_id: ques) %>
          <% answers.each do |answer| %>
            <b>Answer</b>&nbsp&nbsp <%= answer.answer %><br>
          <% end %>
          <hr>
        </td>
      </tr>    
    <% end %>    
  </table>
</div>