<% if user_signed_in? %>
<div class='birth-plan-splash'>
	<img src="assets/profile-pic.jpg" alt="Profile" />
</div>
<div class='row'>
	<div class='columns small-12 user-profile-area'>
		<div class="user-profile-area-content">
			<ul>
				<li>
					<h3><%= "#{(current_user.try(:first_name)).try(:humanize)} #{(current_user.try(:last_name)).try(:humanize)}" %></h3>                                
				</li>
				<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'logout-link'  %></li>
			</ul>
		</div>
	</div>
	<div class='user-profile-options'>
		<div class="columns small-12 large-7">
			<div class="profile-options options-edit">
				<a href="/set_birth_plan" title=""><span class="profile-options-icon"><img src="assets/edit_summery.png" alt="" /></span>Edit Birth Plan Summary</a>
			</div>
			<div class="profile-options options-print">
				<a href="javascript:void(0);" title=""><span class="profile-options-icon"><img src="assets/print.png" alt="" /></span>Print</a>
			</div>
		</div>
		<div class="columns large-4 large-offset-1">
			<div  class="profile-options options-download">
				<a href="javascript:void(0);" title=""><span class="profile-options-icon"><img src="assets/download.png" alt="" /></span>Download PDF</a>
			</div>
			<div class="profile-options options-email">
				<a href="javascript:void(0);" title=""><span class="profile-options-icon"><img src="assets/email.png" alt="" /></span>Email</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="birth-plan-summery-heading-section">
			<h2>Square root birth plan</h2>
			<div class="birth-plan-summery-heading">
				<div class="summery-heading-area">
					<span class="summery-heading-icon left"><img src="assets/logo_white.png" alt="" /></span>
					<div class="doc-name"><%= "#{(current_user.try(:first_name)).try(:humanize)} #{(current_user.try(:last_name)).try(:humanize)}" %>,</div>
					<div class="doc-caption">Birth Plan Summary</div>
					<!-- <span class="summery-heading-icon right"><img src="assets/.png" alt="" /></span> -->
				</div>
				<div class="heading-due-date">
					<div class="right">Due Date - March 21, 2017</div>
				</div>
			</div>

		</div>                    
	</div>
	<div class="birth-plan-summery">                    
		<div class='columns small-12 medium-6'>
			<div class="birth-plan-summery-content">
				<h2>Who &amp; Where </h2>
				<p>I want to give birth in a Hospital (Presby Medical Cener 1300 North Vermount Avenue Los Angeles CA 96858-00652).</p>
				<h2>Who &amp; Where </h2>
				<p>I want on OBGYN(Michelle) and a Doula (Rebecca Davidson) to assist me.</p>
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<div class='spacer show-for-small'></div>     
			</div>                       
		</div>
		<div class='columns small-12 medium-6'>
			<div class="birth-plan-summery-content">
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<h2>Who &amp; Where </h2>
				<p>Square Roots&trade; is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers.</p>
				<div class='spacer show-for-small'></div>
			</div>
		</div>
	</div>
</div>
<div class='clear'></div>
<% end %>