<footer>
	  <div class="mainfooter">
	    <div class="tagline">
	      <span>The mission of Square Roots&trade; is to define and empower healthy birth.</span>
	    </div>
	    <div class="footer-buttons">
	      <%= link_to 'Play Video', '#', :class => 'play-video' %>
	      <%= link_to 'Play Video', '#', :class => 'play-video-direct' %>
	      <%= mail_to 'info@squareroots.com', 'Contact Us', target: '_blank' %>
	    </div>
	  </div>
  </footer>