.row
  .columns.small-12.medium-6.medium-centered
    %h3 Forgot Password
    = simple_form_for :password_resets, url: admin_password_resets_path do |f|
      = f.input :email
      = f.button :button, 'Submit', :class => 'button radius pull-right'