<div id="checklist-content" class="checklist-container scrollable" tabindex="-1">
    <div class="scroll-bar vertical" style="height: 320px; display: block;">
        <div class="thumb" style="top: 0px; height: 118.794px;"></div>
    </div>
    <div class="viewport" style="height: 320px; width: 667px;">
        <div class="overview" style="top: 0px; left: 0px;">
            <% @category.each do |cat| %>
            <h6 class=""><%= cat %></h6>     
            <div class="checklist-content-section-1">
                <% @checklists.each do |checklist| %>
                <% if checklist.category == cat %>
                <div class="checklist-item">
                    <% if checklist.sub_category.blank? %>
                        <input type="checkbox" name="question-2" class="options" id="checklistitem-1">
                        <label for="checklistitem-1"><%= checklist.title %></label>
                    <% else %>
                        <p><%= checklist.sub_category %></p>
                        <ul>
                            <li>
                                <input type="checkbox" name="question-2" class="options" id="checklistitem-1">
                                <label for="checklistitem-1"><%= checklist.title %></label>
                            </li>
                        </ul>
                    <% end %>
                </div>  
                <% end %>           
                <% end %>
                <div class="add-checklistitem">
                    <input type="text" name="" class="options" placeholder="Add Your Own" id="add-checklistitem-text">
                    <a href="javascript:void(0);" class="button add-checklist">add</a>
                </div>
            </div>
            <% end %>
        </div>
    </div>
    <div class="scroll-bar horizontal" style="width: 667px; display: none;">
        <div class="thumb" style="left: 0px; width: 667px;">

        </div>
    </div>
</div>