<div class="top_img">
	<img src="/assets/birth_plan_masthead.jpg">
</div>
<div class="row" id="birth_tilte">
	  <div class="title">
	    	<h2>SQUARE ROOTS BIRTH PLAN</h2>
	  </div>
</div>
<div class="row" id="birth_line">
  	<div class="columns small-12">
  	<hr>
  	</div>
</div>
<div class="row" id="birth_txt">
  	<div class="columns small-12">
  		<p>
			Welcome to your birth plan! This is a planning tool to help you to visualize our ideal birthing experienceand to empower you to make it happen in your own special way. Something to keep in mind, however, isthat despite our best efforts, sometimes things just do not go according to plan. It is possible in the moment that the doctor might recommend something unplanned, which is best for you and the baby. If you find your birth is not going according to plan, that is okay! Just try to keep your mind on that end goal—a happy andhealthy baby!
		</p>
  	</div>
</div>
<div class="row" id="str_ques">
  	<div class="columns small-12">
  	<a class="btn btn-info btn-lg" data-target="#signupModal" data-toggle="modal" type="button">START QUESTION</a>
  	</div>
</div>
