<div class="birth-plan-splash">
    <%= image_tag('quetion_header.jpg') %>
    <h2 class="_splash_heading">Your Birth Plan Journey</h2>
    <div class="progress-bar-mobile">Who &amp; Where <span>1/5</span></div>
    <div class="progress-bar">
        <div class="row">
            <ul>
                <li class="step-1 first active">
                    <h4>WHO &amp; WHERE</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">WHO<br>&amp;<br>WHERE</div>
                    </span>
                </li>
                <li class="step-2">
                    <h4>ENVIRONMENT</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">ENVIRONMENT</div>
                    </span>
                </li>
                <li class="step-3">
                    <h4>In Labor</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">In Labor</div>
                    </span>
                </li>
                <li class="step-4 ">
                    <h4>IMMEDIATELY AFTER BIRTH</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">IMMEDIATELY<br>AFTER<br>BIRTH</div>
                    </span>
                </li>
                <li class="step-5 last">
                    <h4>YOUR NEWBORN</h4>
                    <span class="small-oval"></span>
                    <span class="large-oval"></span>
                    <span class="dark-line"></span>
                    <span class="active-oval">
                        <div class="active-oval-text">YOUR<br>NEWBORN</div>
                    </span>
                </li>                            
            </ul>
        </div>
    </div>
</div>
<div class="birth_plan_process section">
    <div class="row">
        <div class="columns small-12">
            <div class="birth_plan_welcome">
                <a class="birth_plan_welcome_help help" href="javascript:void(0);" title="">
                    <div class="tooltip_box">
                     For any medical questions, please refer to your care provider. We would, however, love your feedback on the birth plan itself. If you have any questions or concerns regarding the content or formatting of this page, please let us know by emailing Katie@squareroots.com
                 </div>
             </a>
             <hr><hr>
             <div class="text-center birth_plan_welcome_text">
                <p>Hello and welcome to your birth plan!</p>
                <p>We hope that you ﬁnd this helpful and leave feeling more prepared for your big day! If at any point you would like more information, you can click the (i) to read more about your options. You can also skip any questions that you are unsure about, and if you run out of time, you can always save your progress to return to ﬁll it in later.</p>
                <p>Thank you and congratulations!</p>
            </div>
            <hr><hr>
        </div>
        <div class="birth_plan_ques_section">
            <form>
                <ol>
                    <li>
                        <h2>Use our <a href="javascript:void(0);" class="checklist-link">Hospital Checklist</a> to create a list of things you would like to bring with you to bring with you to the hospital</h2>
                        <div class="option-area">
                            <ul>
                                <li>                                                    
                                    <input type="text" name="question-1" class="options" id="option3-1">
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <h2>
                            Where do you want to give birth?
                            <a class="ques_info" href="javascript:void(0);" title="">
                                <div class="tooltip_box">
                                    Regardless of your decision below, we recommend that you spend some time researching, as not all hospital or birth center settings and statistics are the same. In fact, you can schedule yourself a tour at many facilities.  First, consider what is important to you. Do you want a water birth? To have an epidural? To avoid a c-section? We recommend looking into the related statistics for your hospital, which can be found HERE. The higher the rates are, the more likely you too will receive that intervention.
                                </div>
                            </a>
                        </h2>
                        <div class="option-area">
                            <ul>
                                <li>                                                    
                                    <input type="radio" name="question-1" class="options" id="option1-1">
                                    <label for="option1-1">Hospital<a class="ques_info" href="javascript:void(0);" title="">
                                        <div class="tooltip_box">
                                            We hope that you ﬁnd this helpful and leave feeling more prepared for your big day! If at any point you would like more information.
                                        </div>
                                    </a>
                                    
                                </label>
                            </li>
                            <li>                                                    
                                <input type="radio" name="question-1" class="options" id="option1-2">
                                <label for="option1-2">Hospital<a class="ques_info" href="javascript:void(0);" title=""></a></label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h2>What types of positions do you expect to want to be in?<a class="ques_info" href="javascript:void(0);" title=""></a></h2>
                    <div class="option-area">
                        <ul>
                            <li>                                                    
                                <input type="checkbox" name="question-2" class="options" id="option2-1">
                                <label for="option2-1">Hospital<a class="ques_info" href="javascript:void(0);" title=""></a></label>
                            </li>
                            <li>                                                    
                                <input type="checkbox" name="question-2" class="options" id="option2-2">
                                <label for="option2-2">Hospital<a class="ques_info" href="javascript:void(0);" title=""></a></label>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h2>Where do you want to give birth?<a class="ques_info" href="javascript:void(0);" title=""></a></h2>
                    <div class="option-area">
                        <ul>
                            <li>                                                    
                                <input type="text" name="question-1" class="options" id="option3-1">
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h2>Where do you want to give birth?<a class="ques_info" href="javascript:void(0);" title=""></a></h2>
                    <div class="option-area">

                        <ul>
                            <li>                                                    
                                <input type="text" name="question-1" class="options small" id="option4-1">
                                <input type="text" name="question-1" class="options small" id="option4-1">
                                <label class="add_multiple_fields"><a class="add_fields" href="javascript:void(0);" title=""></a></label>
                                <a class="add_fields mobile btn" href="javascript:void(0);" title="">Add</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h2>Where do you want to give birth?<a class="ques_info" href="javascript:void(0);" title=""></a></h2>
                    <div class="option-area">
                        <ul>
                            <li>                                                    
                                <input type="radio" name="question-1" class="options" id="option5-1">
                                <label for="option5-1">Hospital<input type="text" name="" class="respective_input"></label>
                            </li>                                                
                        </ul>
                    </div>
                </li>
            </ol>
        </form>                            
    </div>
    <div class="birth_plan_pagination desktop">
        <div class="paggingDiv">
            <span class="currentPage page">1</span> OF <span class="totalPages page">9</span> PAGES
        </div>
        <div class="paggingDiv second">
            save
        </div>
        <div class="paggingDiv">
            <a href="javascript:void(0);" title="" class="button nxt-btn">Next</a>                                
        </div>
    </div>
</div>                    
</div>
</div>
<div class="birth_plan_pagination mobile">
    <div class="row">
        <div class="paggingDiv">
            <span class="currentPage page">1</span> OF <span class="totalPages page">9</span> PAGES
        </div>                            
        <div class="paggingDiv">
            <a href="javascript:void(0);" title="" class="button nxt-btn">Save and Countinue</a>
            <!-- <a href="javascript:void(0);" title="" class="button nxt-btn mobile">Save and Countinue</a> -->
        </div>
    </div>
</div>