<div
  id="160505srprojectsupdatebirthmarkintgraphic970px_hype_container"
  style="margin:auto;position:relative;width:100%;height:100%;overflow:hidden;"
  aria-live="polite">
  <script
    type="text/javascript"
    charset="utf-8"
    src="160505_SR_Projects_update_BIRTHMark-int-graphic_970px.hyperesources/160505srprojectsupdatebirthmarkintgraphic970px_hype_generated_script.js?7339">
  </script>
</div>

<!-- text content for search engines: -->

<div style="display:none">

  <div>Click on a letter above to explore the facets of the BIRTH Mark™ framework.</div>
  <div>Birth Plan: The Square Roots research team is designing a Birth Plan App. The App framework
    will offer a decision tree to assist mothers in creating their plan and demonstrating how
    each decision can impact future options and outcomes. The framework will provide real time
    education to empower the mother in making the best decisions for herself.
  </div>
  <div>Information: Research is the cornerstone of everything Square Roots does. Our Advisory Board
    consists of MDs and PhDs from top universities and medical centers, as well as partnerships
    with leading scientific organizations like NASA, who are all committed to providing
    the most up-to-date and world renowned research on best practices. Square Roots is committed to
    providing women with access to the best evidence-based data to make informed decisions.
  </div>
  <div>Rating: Ratings help identify & differentiate between communities, organizations, and cities
    that are taking proactive steps to improve maternal health outcomes.
    The B40 initiative is our rating system to connect these entities from across the country
    and around the globe to share best practices, innovative solutions,
    and current evidenced-based research to improve maternal and infant health outcomes.
  </div>
  <div>Technology: Square Roots is launching a platform of technology solutions to improve the
    pregnancy experience for expectant mothers around the world. The platform, which
    Square Roots is calling the BIRTH Mark™ will create a coordinated environment between maternal
    care providers and mothers, share evidence-based information with the public, and create
    a virtual community of mothers while focusing on lowering the cost of care and simplifies
    implementation of shared decision-making.
  </div>
  <div></div>
  <div>Human Centered: Square Roots is working with cities to create Communities of Care with
    the human touch to provide the “last mile” of connectivity and sharing the experiences
    of mothers about what the journey of giving birth means to them. Square Roots commits to
    focusing on how to reclaim birth as a natural part of the human experience, and share
    the stories and wisdom of mothers who have experienced the journey with other mothers. 
  </div>

</div>

<!-- end text content: -->
