<% content_for :title, "What We Do" %>
<div class="section">
    <div class="row">
        <div class="columns small-12">
            <video class="stretch" controls="controls" id="video" poster="assets/video.jpg" preload="none"><source src="video2.mp4" type="video/mp4"><source src="video2.webm" type="video/webm"><source src="video2.ogv" type="video/ogg"></video>
        </div>
    </div>
    <div class="show-for-medium-up">
        <div class="spacer"></div>
        <div class="spacer"></div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-6">
            <p>Square Roots™ is a mission-driven company focused on pregnancy health and wellness. By integrating new technology and scientific findings with intelligent partnerships from medicine to policy to maternal care takers, Square Roots™ brings needed solutions and resources to the most critical period of life: our beginning. We identify the highest impact programs and tools that have a proven health impact for Mothers and coordinate the distribution of these programs and tools between academia, policy, public agencies, and private companies. Square Roots™ has assembled an ecosystem of key stakeholders within the maternal health continuum of care.</p>
            <p>This coalition is comprehensive and includes science, technology, medicine, nonprofit and social organizations, public health leaders, policy leaders, and mothers in communities. Since its founding, Square Roots™ has built this coalition into a working group that uses its unique position to convene, listen, discover, and implement non clinical solutions for healthier births. High tech and high touch, grassroots community health, and movement building partnerships are hallmarks of the Square Roots™ approach.</p>
            <div class="spacer show-for-small"></div>
        </div>
        <div class="columns small-12 medium-6">
            <%= image_tag 'periodic-table-retina.png'%>
        </div>
    </div>
</div>
<div class="clear"></div>